# PhysioNet connector overlay (template). Copy to .env.physionet, then: npm run start:physionet
LOGTO__CONNECTOR_CONFIG={"id":"physionet","connectorId":"physionet-oidc","config":{"clientId":"<client-id>","clientSecret":"<client-secret>","authorizationEndpoint":"http://localhost:8000/oauth/authorize/","tokenEndpoint":"http://host.docker.internal:8000/oauth/token/","userInfoEndpoint":"http://host.docker.internal:8000/oauth/oidc/userinfo","jwksEndpoint":"http://host.docker.internal:8000/oauth/jwks/","idTokenVerificationConfig":{"jwksUri":"http://host.docker.internal:8000/oauth/jwks/","issuer":"http://localhost:8000"},"issuer":"http://localhost:8000","scope":"openid profile email credentialing:read","responseType":"code","tokenEndpointAuthMethod":"client_secret_post","customConfig":{}},"syncProfile":true}
LOGTO__ENABLE_REGISTRATION=true
LOGTO__SOCIAL_SIGNIN_TARGETS=physionet
USERMGMT__AUTO_PROVISION_ENABLED=true
USERMGMT__AUTO_PROVISION_CONNECTORS=physionet
USERMGMT__ENTITLEMENTS_SYNC_ENABLED=true
USERMGMT__ENTITLEMENTS_PHYSIONET_BASE_URL=http://host.docker.internal:8000
USERMGMT__ENTITLEMENTS_DATASET_MAPPING={"demo":"demowave/1.0.0"}
USERMGMT__ENTITLEMENTS_PHYSIONET_CLIENT_ID=<client-id>
USERMGMT__ENTITLEMENTS_PHYSIONET_CLIENT_SECRET=<client-secret>
