!.vscode/settings.json
node_modules
**/.clj-kondo
npm-debug.log
*.tmp*
pyqeenv
.deploy
pyomopqlenv
*.pyc
*gguf
target
.mypy_cache
*.egg-info
import.json.bak
services/trex_base
package-lock.json
pnpm-lock.yaml
yarn-error.log
run_ssh.sh
.DS_Store
*eszip
**/.parcel-cache/


pkg/*.tgz
target
dist
tmp
deploy/**/generated

**/.env*
**/*private*
!plugins/ui/**/.env*
!plugins/ui/**/*private*

.cubestore

alp-data-node-override
liquibase

**/liveness
data2evidence-cli-*.tgz


flows/.DS_Store
flows/venv
flows/**/__pycache__
flows/.env
flows/**/*private*
flows/**/.env*

plugins/ui/resources/*
!plugins/ui/resources/img
!plugins/ui/resources/authenticate.js
!plugins/ui/resources/msal-browser.min.js
!plugins/ui/.vscode/settings.json
plugins/ui/node_modules
plugins/ui/npm-debug.log
plugins/ui/*.tmp*
plugins/ui/target
plugins/ui/package-lock.json
plugins/ui/pnpm-lock.yaml
plugins/ui/yarn-error.log
plugins/ui/run_ssh.sh
plugins/ui/.DS_Store
plugins/ui/dist
plugins/ui/**/*-dbg*.js
plugins/ui/**/*-preload*.js
plugins/ui/**/library-parameters.json
plugins/ui/**/*private*
plugins/ui/.nx
plugins/ui/pyqetest