{
	debug
	pki {
		ca local {
			name "D2E Local CA"
			root_cn "D2E Local CA - 2024 ECC Root"
			intermediate_cn "D2E Local CA - ECC Intermediate"
		}
	}
}

(publicurlredirect) {
	{$CADDY__ALP__ALIAS_PUBLIC_FQDN} {
		{$TLS__CADDY_DIRECTIVE}
		redir https://{$CADDY__ALP__PUBLIC_FQDN}{uri} permanent
	}
}

(portal) {
	log {
		format console {
			level_format color
		}
	}

	# Logto api server
	@logto {
		path /index.html
		path /assets/* # logto assets are moved to this path
		path /api/*
		path /oidc/*
		path /sign-in
		path /consent
		path /callback/* # For azure connector
	}

	handle @logto {
		reverse_proxy http://{$PROJECT_NAME}-logto-1:3001 {
			header_up Host {upstream_hostport}
			transport http {
				read_buffer 8192
			}
		}
	}
	
	@jupyter_websocket {
		header Connection *Upgrade*
		header Upgrade websocket
	}

	handle @jupyter_websocket {
		reverse_proxy https://{$PROJECT_NAME}-trex:33000 {
			transport http {
				tls
				tls_insecure_skip_verify
				read_buffer 8192
			}

			method GET
			rewrite /usermgmt/api/me/is_token_valid_internal
			header_up X-Forwarded-Method {method}
			header_up X-Forwarded-Uri {uri}
			header_up authorization {http.request.uri.query.authorization}
			header_up datasetId {http.request.uri.query.datasetId}

			@good status 2xx
			handle_response @good {
				request_header Remote-User {rp.header.Remote-User}
				request_header Remote-Email {rp.header.Remote-Email}
			}
		}

		reverse_proxy @jupyter_websocket http://alp-enterprise-gateway-proxy:8888
	}

	## call gateway if there are no matched files
	handle {
		reverse_proxy https://{$PROJECT_NAME}-trex:33000 {
			transport http {
				tls
				tls_insecure_skip_verify
				read_buffer 8192
			}
		}
	}
}

{$INSTANCE_SPECIFIC_CONFIG}

https://{$CADDY__ALP__PUBLIC_FQDN} {
	{$TLS__CADDY_DIRECTIVE}
	redir / /portal
	import portal
}
