{
	debug
	pki {
		ca local {
			name "ALP Local CA"
			root_cn "ALP Local CA - 2024 ECC Root"
			intermediate_cn "ALP Local CA - ECC Intermediate"
		}
		ca alp-internal {
			name "ALP Internal CA"
			root_cn "ALP Internal CA - 2024 ECC Root"
			intermediate_cn "ALP Internal CA - ECC Intermediate"
		}
	}
}

https://*.alp.local:55555 {
	tls {
		issuer internal {
			ca alp-internal
			lifetime 360d
			sign_with_root
		}
	}
	respond alp-internal
}

(publicurlredirect) {
	{$CADDY__ALP__ALIAS_PUBLIC_FQDN} {
		{$TLS__CADDY_DIRECTIVE}
		redir https://{$CADDY__ALP__PUBLIC_FQDN}{uri} permanent
	}
}

(portal) {
	log {
		format console {
			level_format color
		}
	}

	# Logto api server
	@logto {
		path /index.html
		path /assets/* # logto assets are moved to this path
		path /api/*
		path /oidc/*
		path /sign-in
		path /consent
		path /callback/* # For azure connector
	}

	handle @logto {
		reverse_proxy http://{$PROJECT_NAME}-logto-1:3001 {
			header_up Host {upstream_hostport}
			transport http {
				read_buffer 8192
			}
		}
	}

	## call gateway if there are no matched files
	handle {
		reverse_proxy https://{$PROJECT_NAME}-trex:33000 {
			transport http {
				tls
				tls_insecure_skip_verify
				read_buffer 8192
			}
		}
	}
}

https://{$CADDY__ALP__PUBLIC_FQDN} {
	{$TLS__CADDY_DIRECTIVE}
	redir / /portal
	import portal
}

