.nlux_msg_sent,
.nlux-comp-sendIcon-container {
  background-color: #000080 !important;
}

.chat {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 3 1 0%;
    min-width: 0;
    height: 100%;
    overflow: auto;
  }
}
