.terminology_detail {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1px;
    margin-top: 11px;
    &_container {
      flex: 1;
      display: flex;
      justify-content: center;
      .MuiTabs-indicator {
        background-color: var(--color-primary, #000080);
      }
      .MuiTab-root.Mui-selected {
        color: var(--color-primary, #000080);
      }
    }
  }

  &__related-concepts {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .MuiTableCell-head {
    color: var(--color-primary, #000080);
  }
  .MuiTableCell-body {
    color: var(--color-primary, #000080);
  }
}
