.alert {
  position: absolute;
  z-index: 999;
  width: 100%;

  &-info {
    color: var(--color-mri-lightest-text);
    background-color: var(--color-mri-contrast);
    border-color: var(--color-mri-lightest-text);
  }

  &-error {
    background-color: var(--color-mri-error);
  }

  &-information {
    background-color: var(--color-mri-info);
  }

  &-warning {
    background-color: var(--color-mri-warning);
  }
}