@import './mri-variables';
@import './mixins';

html,
body,
#app {
  height: 100%;
  max-width: 100vw !important;
  font-family: $font-family-base;
  scrollbar-width: thin;

  .UiLbl {
    color: $UiLightText;
  }

  button {
    @include mriFocusable;
  }

  .MriFocus {
    @include mriFocusStyle;
  }

  .MriHilite {
    @include mriHiliteStyle;
  }
}
