.boxplot-container {
  height: 100%;
  width: 100%;
  .visible {
    height: 100%;
    width: 100%;
  }
  .appMriPaBoxplotChart {
    position: relative;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .appMriPaBoxplotChart text {
    cursor: default;
  }
  .appMriPaBoxplotChartBackground {
    fill: var(--color-ui-lightest-bg);
  }
  .appMriPaBoxplotChartxAxis line,
  .appMriPaBoxplotChartyAxis line {
    stroke: var(--color-mri-darker-border);
  }
  .appMriPaBoxplotChartLabelBackground {
    fill: transparent;
  }
  .appMriPaBoxplotChartLabel:hover .appMriPaBoxplotChartLabelBackground {
    fill: var(--color-ui-extra-light-bg);
  }
  .appMriPaBoxplotChartLabel:hover text {
    display: block;
  }
  .appMriPaBoxplotChartLabel text {
    fill: var(--color-ui-dark-text);
    font-size: 12px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .appMriPaBoxplotChartLabelTextHidden {
    display: none;
  }
  .appMriPaBoxplotChartyAxis .domain {
    display: none;
  }
  .appMriPaBoxplotChartyAxis .appMriPaBoxplotChartGridline {
    stroke: var(--color-ui-extra-light-border);
  }
  .appMriPaBoxplotChartyAxis text {
    fill: var(--color-ui-dark-text);
    font-size: 12px;
  }
  .appMriPaBoxplotChartWhisker {
    stroke: var(--color-ui-extra-dark-border);
  }
  .appMriPaBoxplotChartMedian {
    stroke: var(--color-mri-lightest-text);
  }
  .appMriPaBoxplotChartBox {
    fill: #eb7300;
  }
  .appMriPaBoxplotChartOverlay {
    fill: transparent;
  }
  .appMriPaBoxplotChartBoxplot:hover > .appMriPaBoxplotChartBox {
    stroke: #e35500;
    stroke-width: 2px;
  }
  .appMriPaBoxplotChartBoxplot:hover > .appMriPaBoxplotChartWhisker {
    stroke-width: 2px;
  }
  .appMriPaBoxplotChartSelection .appMriPaBoxplotChartBoxplot {
    fill-opacity: 0.4;
    stroke-opacity: 0.4;
  }
  .appMriPaBoxplotChartSelection .appMriPaBoxplotChartBoxplot:hover {
    fill-opacity: 1;
    stroke-opacity: 1;
  }
  .appMriPaBoxplotChartBoxplot.appMriPaBoxplotChartSelected {
    fill-opacity: 1;
    stroke-opacity: 1;
  }
  .appMriPaBoxplotChartBoxplot.appMriPaBoxplotChartSelected .appMriPaBoxplotChartBox {
    stroke: #e35500;
    stroke-width: 1px;
  }
}