@import './mixins';

.app-date {
  width: 100%;

  .date-container {
    @include mriHoverable;
    border-radius: 5px;
    border-color: var(--color-mri-dropdown-border-light);
  }

  .app-date-icon {
    cursor: pointer;
  }

  .form-control {
    min-height: $input-height;
    input {
      width: 100%;
      border: 0px;
      outline: none;
      display: inline-block;
      font-size: inherit;
      padding-left: 0px;
    }
  }

  .invalidDate {
    border: 1.5px solid var(--color-mri-error);
  }
  .form-control:focus {
    box-shadow: none;
  }

  .modal-mask {
    .modal-container {
      position: absolute;
    }
    .bootstrap-datetimepicker-widget {
      width: 19em;
      margin: 5px 15px;
      table {
        td,
        th {
          border-radius: 0;
        }
        td.today {
          border: 0.125rem solid var(--color-selected-date-border);
        }
        td.today:before {
          display: none;
        }
        td.day:hover,
        td.hour:hover,
        td.minute:hover,
        td.second:hover {
          background-color: var(--color-date-hover);
        }
        td span,
        td i {
          border-radius: 0rem;
        }
        td span:hover,
        td i:hover {
          background-color: var(--color-date-hover);
        }
      }
      .timepicker {
        padding: 5px;
        border-left: 1px solid var(--color-ui-light-border);
      }
    }
    .bootstrap-datetimepicker-widget.timepicker-sbs {
      width: 39em;
    }
    // icons are inside italics tag, in our case 'normal' font-style is needed
    i {
      font-style: normal;
      color: var(--color-ui-light-text);
    }

    .fa-chevron-left:after {
      font-family: 'app-icons';
      content: '\e067';
    }
    .fa-chevron-right:after {
      font-family: 'app-icons';
      content: '\e066';
    }
    .fa-chevron-up:after {
      font-family: 'app-icons';
      content: '\e1e1';
    }
    .fa-chevron-down:after {
      font-family: 'app-icons';
      content: '\e1e2';
    }
  }
}
