.filtercard-summary {
  margin-left: 5px;
  box-shadow: -2px -0px 5px 0px rgba(0, 0, 0, 0.15);
  width: 20%;
  height: 100%;
  right: 0px;
  position: relative;
  .header {
    height: 40px;
    background-color: var(--color-mri-chart-button-hover);
    color: var(--color-ui-dark-text);
    font-weight: bold;

    .summary-title {
      padding: 10px;
    }
    .btn {
      padding-right: 15px;
      color: var(--color-ui-dark-text);
      background-color: transparent;
    }
  }

  .download-sql {
    height: 4rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .download-cohort-definition {
    height: 4rem;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .bookmark-content {
    font-size: 12px;
    padding: 10px;
    ul.bookmark-list {
      li {
        width: 100%;
      }
    }
    .summary-desc {
      margin-bottom: 5px;
      color: var(--color-ui-dark-text);
    }
    .bookmark-filter-container {
      border-radius: 2px;
      border: 1px solid var(--color-ui-extra-light-border);
      padding: 7px;
    }
    .bookmark-headelement {
      font-size: 13px;
      line-height: 19px;
      font-weight: bold;
      color: var(--color-mri-header-text-dark);
    }
    .bookmark-filtercard {
      .bookmark-attribute {
        display: flex;
        flex-wrap: wrap;
        padding-top: 4px;
      }
      .bookmark-element {
        padding-right: 5px;
        color: var(--color-ui-light-text);
      }
      .bookmark-constraint {
        color: var(--color-mri-header-text-light);
        font-weight: normal;
      }
    }
    .condition-container {
      display: inline-block;
      font-size: 12px;
      line-height: 13px;
      padding-left: 13px;
      padding-right: 13px;
      padding-top: 4px;
      padding-bottom: 4px;
      border-radius: 4px;
      margin-top: 7px;
      margin-bottom: 7px;
      color: var(--color-mri-lightest-text);
    }
    .and-label {
      background-color: var(--color-toggle-button-dark-bg);
    }
    .or-label {
      background-color: var(--color-toggle-button-light-bg);
      color: var(--color-ui-darkest-text);
    }
  }
}