.pa-splitter {
  #pane-left {
    background-color: var(--color-ui-lightest-bg);
    position: relative;
    width: 100%;
  }
  .split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: var(--color-ui-lightest-bg);
  }
  .gutter-horizontal {
    font-family: 'app-icons';
    cursor: col-resize;
    background-color: var(--color-ui-extra-light-bg);
    background-repeat: no-repeat;
    color: rgb(51, 51, 51);
    display: inline-block;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    .gripper {
      display: block;
      font-size: 16px;
      height: 16px;
      line-height: 16px;
      position: relative;
      text-align: center;
      top: calc(50% - 12px);
      user-select: none;
      white-space: nowrap;
    }
  }
  .gutter-horizontal:hover {
    color: var(--color-ui-extra-light-bg);
    background-color: var(--color-ui-dark-bg);
  }
  .gutter-horizontal:active {
    color: var(--color-ui-extra-light-bg);
    background-color: var(--color-mri-brand-hover);
  }
  .split,
  .gutter-horizontal {
    float: left;
  }
  .split,
  .gutter-horizontal {
    height: inherit;
  }
  .hideLeftPane .left-pane {
    display: none;
  }
  .hideLeftPane .right-pane {
    width: 100% !important;
  }
}