**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.egg-info/
**/.venv/
**/env/
**/venv/
**/.cache/
**/dist/
**/*.log
**/.python-version
.github
.gitignore
.npmignore
flowinit.py
**/Dockerfile
**/Dockerfile.*