# D2E_BASE_URL=develop.d2e.sg
# DATASET_ID=ed0f253b-dfef-4202-b1d1-5b0ce9f7c9e0

D2E_BASE_URL=localhost:41100
DATASET_ID=e5daa5c5-67a9-461a-902e-eb087afed306
BEARER_TOKEN=
NODE_TLS_REJECT_UNAUTHORIZED=0

# Optional
PERF_REPETITIONS=3
PERF_WARN_THRESHOLD=0.1
PERF_FAIL_THRESHOLD=0.2
PERF_WARMUP_REQUESTS=2
