BASE_URL=${BASE_URL:-http://localhost}
REDIRECT_URL=${REDIRECT_URL:-${BASE_URL}/ui/gateway/dashboard}
POST_REDIRECT_URL=${POST_REDIRECT_URL:-${BASE_URL}/ui/gateway/dashboard/home}

APP_ID=PmBVWS6qrqKztMi0PfExm
APP_SECRET=leCA6CuhZEJHaSG9LrEb5o0Zq6oxCK
ENDPOINT=https://localhost:41100
RESOURCE_INDICATORS=https://localhost:3001/api/test
RESOURCE_SCOPES=openid,profile,email,offline_access