# Link workspace packages
link-workspace-packages=true

# Hoist node_modules for better compatibility
shamefully-hoist=true
public-hoist-pattern[]=*types*
public-hoist-pattern[]=@types/*

# Auto install peers
auto-install-peers=true
